body{
    font-family: 'Sora', sans-serif;
    background-color:#f5f5f5 ;
}input,button{
     width:340px;
 }
p{
    font-size: 14px;
    color:#A9A9A9;
}
h2{
    margin-bottom: 25px;
    font-size: 16px;
}
input{
    margin-bottom: 25px;
    height: 40px;
    border:1px solid #DADADA;
    background-color:#f5f5f5 ;
}
button{
    background-color:#232529;
    color:white;
    height: 40px;
    border-radius: 4px;
    border:none;
}
a{
    color:white;
    text-decoration: none;
}
.first,.second{
    margin:150px auto;
}
.second{
    text-align: center;
}

.second input{

    width:45px;
    height:45px;
    border:1px solid #DADADA;
    border-radius: 12px;
    margin-bottom: 25px;
    background-color:#f5f5f5 ;
}
.fifth{
    text-align: center;
}




